* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url('https://i.pinimg.com/originals/e6/0b/04/e60b04f030d758c702d970772adbe01e.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  font-family: "Antonio", sans-serif;
  font-size: 200%;
  margin-top: 10px;
  margin-left: 42.7%;
  text-shadow: 0 0 3px red;
  display: flex;
  position: fixed;
}

.stat1 {
  font-family: "Antonio", sans-serif;
  margin-top: 25px;
  margin-left: 39.3%;
  font-size: 120%;
  display: flex;
  position: fixed;
}

.stat2 {
  font-family: "Antonio", sans-serif;
  margin-top: 25px;
  margin-left: 61%;
  font-size: 120%;
  display: flex;
  position: fixed;
}

.timer {
  width: 80px;
  height: 40px;
  margin-left: 38%;
  margin-top: 58px;
  background: black;
  color: white;
  border-radius: 5px;
  display: flex;
  position: fixed;
}

.moves {
  width: 80px;
  height: 40px;
  margin-top: 58px;
  margin-left: 60%;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  position: fixed;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}

.memory-game {    /*tämä on peli pöytä*/
  width: 740px;
  height: 740px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {   /*tässä on peli kortit*/
  width: calc(25% - 10px);  /*molempiin pituuden ja leveyden kanssa tarvitaan -10 px niiden koon kanssa, jotta*/
  height: calc(25% - 10px); /*ne mahtuvat 5px marginaalin kanssa 640px/640px laudalle nätisti*/
  margin: 5px;
  position: relative;
  transition: all .5s;
  transform-style: preserve-3d;
  transform: scale(1);
}

.memory-card.flip {
  transform: rotateY(180deg); /*kun painat korttia niin se kääntyy 180 astetta*/
}

.memory-card:active {
  transform: scale(0.97); /*kun painat korttia pohjaan niin se pienenee 3% koostaan*/
  transition: transform .2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  background: black;
}

.front-face {
  transform: rotateY(180deg);
}

@media screen and (max-width: 500px) and (max-height: 750px) {

  .title {
    font-size: 150%;
    margin-top: 5px;
    margin-left: 28%;
  }

  .timer {
    width: 40px;
    height: 20px;
    margin-left: 15%;
    font-size: 75%;
  }

  .stat1 {
    margin-top: 25px;
    margin-left: 15%;
    font-size: 120%;
  }

  .moves {
    width: 40px;
    height: 20px;
    margin-left: 80%;
    font-size: 75%;
  }

  .stat2 {
    margin-top: 25px;
    margin-left: 80%;
    font-size: 120%;
  }

  .memory-game {
    width: 70%;
    height: 60%;
    margin-top: 20%;
    margin-left: 17%;
  }

  .memory-card {
    width: calc(25% - 8px);
    height: calc(33.333% - 8px);
    margin: 4px;
  }

  .front-face,
  .back-face {
    padding: 3px;
  }
}

@media screen and (max-width: 750px) and (max-height: 500px) {

    .title {
      font-size: 150%;
      margin-top: 5px;
      margin-left: 35%;
      display: flex;
    }

    .timer {
      width: 40px;
      height: 20px;
      margin-left: 15%;
      font-size: 75%;
    }

    .stat1 {
      margin-top: 25px;
      margin-left: 15%;
      font-size: 120%;
    }

    .moves {
      width: 40px;
      height: 20px;
      margin-left: 80%;
      font-size: 75%;
    }

    .stat2 {
      margin-top: 25px;
      margin-left: 80%;
      font-size: 120%;
    }

    .memory-game {
      width: 50%;
      height: 60%;
      margin-top: 10%;
      margin-left: 30%;
    }

    .memory-card {
      width: calc(20% - 8px);
      height: calc(33% - 8px);
      margin: 5px;
    }

    .front-face,
    .back-face {
    padding: 3px;
  }
}
